{% csrf_token %}
{% if form.non_field_errors %}<div class="msg error">{{ form.non_field_errors|join:" " }}</div>{% endif %}
{% for field in form %}
<div class="field-block">
  <label class="field-title" for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
  {{ field }}
  {% if field.help_text %}<p class="field-help">{{ field.help_text }}</p>{% endif %}
  {% for e in field.errors %}<div class="field-error">{{ e }}</div>{% endfor %}
</div>
{% endfor %}
